@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  transition: all 0.3s cubic-bezier(0.2, 0.65, 0.3, 0.9);
}
